name: checkmate-io

services:
  backend:
    image: mayurkumbar05/checkmate-backend:latest
    container_name: checkmate-backend
    ports:
      - "4000:4000"
    env_file:
      - backend/.env
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    restart: always

  frontend:
    image: mayurkumbar05/checkmate-frontend:latest
    container_name: checkmate-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

  redis:
    image: redis:7-alpine
    container_name: checkmate-redis
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data: