name: checkmate-io

services:
  backend:
    build:
      context: ./backend
    ports:
      - "4000:4000"
    env_file: backend/.env
    environment:
      - REDIS_URL=redis://redis:6379
    dns:
      - 8.8.8.8
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_API_URL=http://localhost:4000/api

    ports:
      - "3000:3000"
    depends_on:
      - backend

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/redis_data

volumes:
  redis_data:
